

body{
    background-color: #d5d4c1;
    font-family: "IBM Plex Serif", serif;
    display: flex;
    align-items: center;
    
}
#box{
    background-color: #e2fdfd;
    width: 70%;
    height:300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15%;
    border-radius: 45px;
    margin-top: 200px;
    box-shadow: 0px 4px 10px rgba(66, 81, 6, 0.3);

}

#btn{
    margin-top: 80px;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #c69062;
    color: aliceblue;
    display:flex ;
    align-items: center;
    font-weight: bold;
}
#txt2{
    position: relative;
    top: 35px;
    font-size: smaller;
}
#txt1{
    position: relative;
    
    font-size: smaller;
}
#img{
    width: 80px;
}